[user]
        name = Sergey Weinstein
        email = sergey.weinstein@datadoghq.com
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOrWrdYoLIoli/pKZ8LdwDOMZAGtcAZ4uRFQLeTMrGLr sergey.weinstein+git-commit-signing@datadoghq.com
[commit]
	gpgsign = true
[gpg]
	format = ssh

# This is a url rewrite that helps [go and maybe rust] tooling that downloads libraries from our private repos
[url "git@github.com:DataDog/"]
        insteadOf = https://github.com/DataDog/

# This ensures that the Datadog global githooks work.  Please don't override this in your own dotfiles unless you have a strong reason to.
[core]
        hooksPath = /home/bits/.global_hooks
